In [1]:
## movies.csv와 ratings.csv를 이용하여 다음의 문제를 해결하세요~
## 1. 사용자가 평가한 모든 영화의 전체 평균 평점
## 2. 각 사용자별 평균 평점
## 3. 각 영화별 평균 평점
## 4. 평균 평점이 가장 높은 영화의 제목 (동률이 있을 경우 모두 출력)
## 5. Comedy 영화 중 가장 평점이 낮은 영화의 제목 (동률이 있을 경우 모두 출력)
## 6. 2015년도에 평가된 모든 Romance 영화의 평균 평점

In [2]:
import numpy as np
import pandas as pd

movie_df = pd.read_csv("./data/movies.csv")
rating_df = pd.read_csv("./data/ratings.csv")

#movie_df.columns #['movieId', 'title', 'genres']
# rating_df.columns #['userId', 'movieId', 'rating', 'timestamp']

In [3]:
## 1. 사용자가 평가한 모든 영화의 전체 평균 평점

rating_df["rating"].mean()

3.501556983616962

In [4]:
## 2. 각 사용자별 평균 평점


pd.DataFrame(rating_df["rating"].groupby(rating_df["userId"]).mean())

          rating
userId
1       4.366379
2       3.948276
3       2.435897
4       3.555556
5       3.636364
...          ...
606     3.657399
607     3.786096
608     3.134176
609     3.270270
610     3.688556

[610 rows x 1 columns]

In [47]:
## 3. 각 영화별 평균 평점


m_rating=pd.DataFrame(rating_df["rating"].groupby(rating_df["movieId"]).mean())

           rating
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429
...           ...
193581   4.000000
193583   3.500000
193585   3.500000
193587   3.500000
193609   4.000000

[9724 rows x 1 columns]

In [58]:
## 4. 평균 평점이 가장 높은 영화의 제목 내림차순으로 정렬해서 출력(동률이 있을 경우 모두 출력)

df4 = pd.merge(m_rating,movie_df, on="movieId", how="left")

df4.loc[df4["rating"]==df4["rating"].max(),"title"].sort_values(ascending=False)

7504    Zeitgeist: Moving Forward (2011)
9542         Wow! A Talking Fish! (1983)
9271               World of Glory (1991)
8337                 Wonder Woman (2009)
9693    Won't You Be My Neighbor? (2018)
                      ...
5626                          61* (2001)
3888    20 Million Miles to Earth (1957)
9028                    12 Chairs (1976)
7315                 12 Angry Men (1997)
5677                 'Salem's Lot (2004)
Name: title, Length: 296, dtype: object

In [57]:
## 5. Comedy 영화 중 가장 평점이 낮은 영화의 제목을 오름차순으로 출력 (동률이 있을 경우 모두 출력)


func = lambda x: str(x).count("Comedy")

Comedy_df = df4.loc[df4["genres"].apply(func)==1]
Comedy_df.loc[Comedy_df["rating"]==Comedy_df["rating"].min(),"title"].sort_values()

8875                                         Aloha (2015)
5763                             Are We There Yet? (2005)
7744                              Arthur Christmas (2011)
9401                                   Bad Santa 2 (2016)
4433                               Born to Be Wild (1995)
5398    Boudu Saved From Drowning (Boudu sauvé des eau...
6537                         Brothers Solomon, The (2007)
5440           Carabineers, The (Carabiniers, Les) (1963)
6528                                Daddy Day Camp (2007)
4872                              Follow Me, Boys! (1966)
7536                         Hard Ticket to Hawaii (1987)
8399                            Haunted House 2, A (2014)
5649                   Jesus Christ Vampire Hunter (2001)
8966                   Joe Dirt 2: Beautiful Loser (2015)
7802              Journey 2: The Mysterious Island (2012)
6143                        Leprechaun 4: In Space (1997)
8230    Maria Bamford: The Special Special Special! (2...
7184                                      Old Dogs (2009)
9038                              Saving Christmas (2014)
5248                                Secret Society (2002)
9572                               The Emoji Movie (2017)
8890                 The Star Wars Holiday Special (1978)
8658                                 Tooth Fairy 2 (2012)
5781                                    Uncle Nino (2003)
6767                             Zombie Strippers! (2008)
Name: title, dtype: object

In [99]:
## 6. 2015년도에 평가된 모든 Romance 영화의 평균 평점
# import datetime
# now = '1442154124'
# _date = datetime.datetime.fromtimestamp(int(now)).strftime('%Y-%m-%d %H:%M:%S')
# print(_date)

import datetime
func1 = lambda x : datetime.datetime.fromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S').count("2015")
rating_15 = rating_df.loc[rating_df["timestamp"].apply(func1)==1]


final_df = pd.merge(rating_15,movie_df,on="movieId",how="left")

func = lambda x: str(x).count("Romance")
final_df.loc[final_df["genres"].apply(func)==1,"rating"].mean()

3.396375098502758